# Project Configuration
PROJECT_NAME="Environment Booking Tool"
PYTHONPATH="./src"

# Flask Configuration
FLASK_APP="src.app"
FLASK_PORT="5001"
FLASK_HOST="127.0.0.1"
FLASK_DEBUG="1"
FLASK_ENV = 'development'
FLASK_SECRET_KEY="your-secret-key-here"


# LLMS
GROQ_API_KEY=""
GROQ_MODEL_NAME = "meta-llama/llama-4-scout-17b-16e-instruct"
TEMPERATURE="0.0"

OLLAMA_API_KEY="your-secret-key-here"
OLLAMA_MODEL_NAME=""

GEMINI_MODEL_NAME=""
GEMINI_API_KEY=""

# For LangSmith Tracing
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""